.title {
    text-align: center;
}

body {
    background-image: url("../imagens/teaserBackground.jpg");
    background-size: 100%;
    color: white;
    
}


a{
    font-family: arial;
    color:#000;
    margin: auto;
    

}
a.focus{
    color: #245580;
}

.nav{
    background-color: #63B1E1;
    
}
.navbar-brand{
    margin-left: 0px;
}

.card{
    margin: 80px;
     
}

.btn-espacado{
    margin-bottom: 20px;
    
}
