.title {
    text-align: center;
}

body {
    background-image: url("../imagens/teaserBackground.jpg");
    background-size: 100%;
    color: white;
}

.jumbotron {
    background-image: url("../imagens/teaserBackground.jpg");
    background-size: 100%;
    color: white;
}
a{
    font-family: arial;
    color:#ffffff;

}
a.focus{
    color: #245580;
}
a.nounderline:link 
{ 
    text-decoration:none; 
    font-family: arial;
}  

